rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
        match /users/{userId} {
            allow read: if isSignedIn();
            allow create: if isAuthorized(userId);
            allow delete: if isAuthorized(userId);
            allow update: if isSignedIn();
        }
    }
}

// FUNCTIONS =========================================

function isSignedIn() {
    return request.auth.uid != null;
}

function isAuthorized(userId) {
    return request.auth.uid == userId;
}